<!-- The Modal -->

<div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Deactivate</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        Are you sure you want to Deactivate?
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" ng-click="dismiss()">Close</button>
        <button ng-click = "Deactivate()" class="btn btn-success">Deactivate</button>
      </div>

    </div>
  </div>



