<section class="row" style="margin-left:10%;">
    <div class="col-md-4">
        <h4>Update Vehicle Route</h4>
        <p class="lead text-center">{{msg}}</p>
 
        <form>
            <input type="text"  ng-model="route" placeholder="Enter New Vehicle Route" class="form-control" required>
            <br>
            <button type="submit" class="btn btn-success" ng-click="updateData(route)">Update</button>
        </form><br>
    </div>
 
    <div class="col-md-8">
        <img src="http://modcom.co.ke/pics/kids.jpg" alt="" class="img-fluid" width="80%">
    </div>
 </section>